<%=stylesheet_link_tag 'dash'%>

<p class="h3">Dashboard</p>

<div class="container-lg">
    
    <div class="card" style="width: 40rem;">
        <img src="<%= asset_path "img1.1.jpg" %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Minhas Consultas</h5>
            <p class="card-text">Verifique suas consultas.</p>
            <%= link_to "Clique aqui", agendamentos_path, class: "btn btn-app" %>
        </div>
    </div>

    <div class="card" style="width: 40rem;">
        <img src="<%= asset_path "img1.2.jpg" %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Agendamentos</h5>
            <p class="card-text">Realize aqui seu agendamento.</p>

            <%= link_to "Clique aqui", new_agendamento_path, class: "btn btn-app" %>

        </div>
    </div>

    <%if current_user.email == "adm.adm@rails.com"%>
        <div class="card" style="width: 40rem;">
            <img src="<%= asset_path "medico.jpg" %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cadastro de Médico</h5>
                <p class="card-text">Realize aqui o cadastro do médico.</p>

                <%= link_to "Clique aqui", new_medico_path, class: "btn btn-app" %>

            </div>
        </div>
    <%end%>    
</div>