<%=stylesheet_link_tag 'dash'%>

<p class="h2">Dashboard</p>

<div class="container-lg">
    
    <div class="card" style="width: 20rem;">
        <img src="<%= asset_path "img1.1.jpg" %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Minhas Consultas</h5>
            <p class="card-text">Verifique suas consultas.</p>
            <a href="#" class="btn btn-app">Clique aqui</a>
        </div>
    </div>

    <div class="card" style="width: 20rem;">
        <img src="<%= asset_path "img1.2.jpg" %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Agendamentos</h5>
            <p class="card-text">Realize aqui seu agendamento.</p>

            <%= link_to "Clique aqui", new_agendamento_path, class: "btn btn-app"%>

        </div>
    </div>


    <div class="card" style="width: 20rem;">
        <img src="<%= asset_path "background-image.jpg" %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cirúrgias</h5>
            <p class="card-text">Marque uma cirúgia.</p>
            <a href="#" class="btn btn-app">Clique aqui</a>
        </div>
    </div>
</div>