<%= stylesheet_link_tag 'new'%>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  

  <div class="container">

    <p class="h3">Sign up</p>

    <div class="field form-floating mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",placeholder: "name@example.com", id: "floatingInput" %>
      <%= f.label :email , for: "floatingInput"%>
    </div>

    <div>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>

      <div class="field form-floating">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password", id: "floatingPassword" %>
        <%= f.label :password, for: "floatingPassword" %>
      </div>
    </div>

    <br/>

    <div class="field form-floating">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password", id: "floatingPassword" %>
      <%= f.label :password_confirmation, for: "floatingPassword" %>
    </div>
  
    <br/>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>

    

  </div>
<% end %>



