<div id="<%= dom_id agendamento %>">
  <p>
    <strong>Nome:</strong>
    <%= agendamento.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= agendamento.cpf %>
  </p>

  <p>
    <strong>Data nasc:</strong>
    <%= agendamento.data_nasc %>
  </p>

  <p>
    <strong>Especialidade:</strong>
    <%= agendamento.especialidade %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= agendamento.medico %>
  </p>

  <p>
    <strong>Data cons:</strong>
    <%= agendamento.data_cons %>
  </p>

</div>
