<div id="<%= dom_id agendamento %>">

  <% users = User.all %>
  <% val = users.find(agendamento.user_id) %>

  <p>
    <strong>Nome:</strong>
    <%= agendamento.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= agendamento.cpf %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= agendamento.medico %>
  </p>

  <p>
    <strong>Especialidade:</strong>
    <%= agendamento.especialidade %>
  </p>

  <p>
    <strong>Data consulta:</strong>
    <%= agendamento.data_consulta %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= agendamento.data_nascimento %>
  </p>

  <p>
    <strong>User:</strong>
    <%= val.email %>
  </p>

</div>
