<%= stylesheet_link_tag "agendamento"%>

<%= form_with(model: agendamento) do |form| %>
  <div class="all">

    <% if agendamento.errors.any? %>
      <div class="erro" id="contentE">
        <p class="h4">ERRO!</p>
        <p class="h4">Impossível realizar o agendamento.</p>
        <% agendamento.errors.each do |error| %>
            <p class="paragra"><%= error.full_message %></p>
        <% end %>
      </div>

      <script>
        var elem = document.querySelector("#contentE");

        elem.classList.remove('erro');
        elem.classList.add('block');

      </script>
    <% end %>
  
    <div class="container-ag">
      
      <p class="h3" > Ficha de agendamento </p>
      
      <div class="camp nome">
        <%= form.label "Nome:" %>
        <%= form.text_field :nome, class:"camp-inp nome" %>
      </div>

      <br/>

      <div class="camp">
        <%= form.label "CPF:" %>
        <%= form.text_field :cpf, class:"camp-inp", id:"cpf" %>
      </div>

      <br/>

      <div class="camp">
        <%= form.label "Medico:" %>
        <%= form.text_field :medico, class:"camp-inp medico" %>
      </div>

      <br/>

      <div class="camp">
        <%= form.label "Especialidade:" %>
        <%= form.text_field :especialidade, class:"camp-inp especialidade"%>
      </div>

      <br/>

      <div class="dates">
        <div>
          <%= form.label "Data da Consulta:", style: "display: block"%>
          <%= form.date_field :data_consulta, class: "form-date" %>
        </div>

        <div>
          <%= form.label "Data de Nascimento:", style: "display: block" %>
          <%= form.date_field :data_nascimento,  class: "form-date" %>
        </div>
      </div>

      <%= form.hidden_field :user_id, value: current_user.id %>

      <br />

      <div class="sub">
        <%= form.submit "Realizar Agendamento", class: "btn btn-pass btn-agen"%>
      </div>
    </div>
  </div>

  <script>
    document.getElementById("cpf").addEventListener("input", function(){
      if(this.value.length > 14){
        this.value = this.value.slice(0, 14);
      }
    });

    document.getElementById("cpf").addEventListener("input", function(){
      var value = this.value.replace(/\D/g,'');
      var v = value.match(/^(\d{3})(\d{3})(\d{3})(\d{2})$/);
      if(v){
          this.value = v[1] + "." + v[2] + "." + v[3] + "-" + v[4];
      }
    });  
  </script>
<% end %>
