<%= stylesheet_link_tag "agendamento"%>

<%= form_with(model: agendamento) do |form| %>
  <% if agendamento.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(agendamento.errors.count, "error") %> prohibited this agendamento from being saved:</h2>

      <ul>
        <% agendamento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-ag">

  <p class="h3" > Ficha de agendamento </p>
  
  <div class="camp nome">
    <%= form.label "Nome:" %>
    <%= form.text_field :nome, class:"camp-inp nome" %>
  </div>

  <br/>

  <div class="camp">
    <%= form.label "CPF:" %>
    <%= form.text_field :cpf, class:"camp-inp", id:"cpf" %>
  </div>

  <br/>

  <div class="camp">
    <%= form.label "Medico:" %>
    <%= form.text_field :medico, class:"camp-inp medico" %>
  </div>

  <br/>

  <div class="camp">
    <%= form.label "Especialidade:" %>
    <%= form.text_field :especialidade, class:"camp-inp especialidade"%>
  </div>

  <br/>

  <div class="dates">
    <div>
      <%= form.label :data_consulta, style: "display: block"%>
      <%= form.date_field :data_consulta, class: "form-date" %>
    </div>

    <div>
      <%= form.label :data_nascimento, style: "display: block" %>
      <%= form.date_field :data_nascimento,  class: "form-date" %>
    </div>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <br />

  <div class="sub">
    <%= form.submit "Realizar Agendamento", class: "btn btn-pass btn-agen" %>
  </div>
</div>
<% end %>
