<%= stylesheet_link_tag "agendamento"%>

<p style="color: green"><%= notice %></p>

<div class="agend"" id="agendamentos">
  <p class="h3">Agendamentos</p>

  <div class="cards">
    <%if @agendamentos.size > 0 %>
      <% c = 0 %>
      <% @agendamentos.each do |agendamento| %>
        <% if agendamento.user_id == current_user.id %>
          <% c += 1 %>
          <div class="cont-cards">
            <%= render agendamento %>
            <%= link_to "Ver Consulta", agendamento_path(agendamento) , class:"btn btn-pass btn-destroy" %>
          </div>
        <% end %>  
      <% end %>
    <%end%>
    <%if c == 0 %>
      <div class="emp" >
        <p class="h3">Você não possui nenhum agendamento.</p>
        
        <%= link_to "Realizar agendamento", new_agendamento_path, class: "btn btn-app" %>
      </div>
    <%end%>
  </div>
  <div class="paginate">
    <%= paginate @agendamentos %>
  </div>
</div>