<%= stylesheet_link_tag 'new'%>


<div class="container">
  <p class="h3">Forgot your password?</p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, data: { turbo: false }}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <br />

    <div class="field form-floating mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",placeholder: "name@example.com", id: "floatingInput" %>
      <%= f.label :email %>
    </div>

    <br />

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>