<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%=stylesheet_link_tag "client" %>

    <section>
      <nav class="navbar bg-body-tertiary pad">
        <div class="container-fluid">
          <div class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" 
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather 
            feather-arrow-left svg"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>

            <span class="navbar-brand mb-0 h1"><%=link_to "Voltar", root_path, class:"back" %> </span>
          </div>
        </div>
      </nav>
      <div class="mb-3 elem">

        <h1>Realizar Cadastro</h1>
        <div class="input-group mb-3 mrg">
          <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
          <%= form.text_field :nome, class: "form-control" %>
        </div>

        <div class="input-group mb-3 mrg">
          <span class="input-group-text" id="inputGroup-sizing-default">E-mail</span>
          <%= form.text_field :email, class: "form-control" %>
        </div>

        <div class="input-group mb-3 mrg">
          <span class="input-group-text" id="inputGroup-sizing-default">Senha</span>
          <%= form.password_field :pass, class: "form-control"  %>
        </div>
      
        <div class="sub mrg">
          <%= form.submit "Cadastrar", class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </section>

<% end %>
