<%= stylesheet_link_tag 'new'%>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="body">
    <div class="container"> 
      <p class="h3">Log in</p>
      <div class="field form-floating mb-3">
        <!- aqui fica o campo de email ->
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Password", id: "floatingPassword" %>
        <%= f.label :email, for: "floatingPassword" %>
      </div>
      <br />

      <div class="field form-floating">
        <!- aqui fica o campo de senha ->
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password", id: "floatingPassword" %>
        <%= f.label :password, for: "floatingPassword" %>

        <div class="pass">
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <%= link_to "Esqueceu sua senha", new_user_password_path %>
        </div>
      </div>

      <br />

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

