<!DOCTYPE html>
<html>
  <head>
    <title>clinica-medica</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'app.css' %>
  </head>

  <body>
  <nav class="navbar">    
    <ul class="nav justify-content-center">

      
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#0A58CA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link"%>
      </li>

      
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#0A58CA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layout"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg>
      <li class="nav-item">
        <%= link_to "Dashboard", static_pages_dashboard_path, class: "nav-link" %>
      </li>
      <% if current_user != nil %>
        <% if current_user.email == "adm.adm@rails.com" %>
          
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#0A58CA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-database"><ellipse cx="12" cy="5" rx="9" ry="3"></ellipse><path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path><path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path></svg>
          <li class="nav-item">
            <%= link_to "CSV", static_pages_dashboard_path(format: :csv), class:"nav-link"%>
          </li>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#0A58CA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
          <li class="nav-item">
            <%= link_to "Médicos", medicos_path, class:"nav-link"%>
          </li>
        <% end %>
      <% end %>
    </ul>

    <ul class="nav justify-content-center">
      <% if current_user %>
        <li class="nav-item">
          <p class="h6"><%= current_user.email %></p>
        </li>
        <li class="nav-item">
          <%# link_to "log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-app " %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-app" %>
        </li>

      <% else%>
        <li class="nav-item">
          <%= link_to "Register", new_user_registration_path, class:"btn btn-app "%>
        </li>
        <li class="nav-item">
          <%= link_to "login", new_user_session_path, class:"btn btn-app"%> 
        </li>
      <% end %> 
    </ul>
  </nav>

  <div class="separator"></div>
    
  <%= yield %>

  </body>
</html>
